<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Tech Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" href="../../public/css/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
</head>

<body>
    <div class="navbar has-background-black is-justify-content-space-around">
        <header>
            <h1 class="tech-title has-text-white is-size-1">The Tech Blog</h1>
        </header>
        <nav>
            {{#if loggedIn}}
            <a href="/homepage" class="is-size-2">Home</a>
            <a href="/dashboard" class="is-size-2">Dashboard</a>
            <a href="/logout" class="is-size-2">Logout</a>
            {{else}}
            <a href="/login" class="is-size-2 p-2">Login</a>
            <a href="/signup" class="is-size-2 p-2">Signup</a>
            {{/if}}
        </nav>
    </div>
    <main>
        {{{body}}}
    </main>


    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>