<section class="login-page box">
    <div class="form-heading">
        <h1 class="has-background-black has-text-white is-size-3 p-2">Log In</h1>
    </div>
    <div class="form-section">
        <form class="login-form p-2">
            <div class="field">
                <label for="email-login" class="is-size-3">Email:</label>
                <input type="text" class="entry-field input" id="email-login" />
            </div>
            <div>
                <label for="password-login" class="is-size-3">Password:</label>
                <input type="password" class="entry-field input" id="password-login" />
            </div>
            <div class="m-3">
                <button type="submit" class="login-signup-btn button is-black is-large is-fullwidth">Log In!</button>
            </div>
        </form>
    </div>
    <div class="is-flex is-justify-content-center">
        <a href="/signup"><button type="button" class="button is-black">Signup Instead</button></a>
    </div>

</section>

<script src="./js/login.js"></script>