<article>
    <section>
        <div>
            <h2 class="is-size-3 has-text-centered">Create New Blog Post</h2>
        </div>
        <div class="box">
            <form class="new-post-form">
                <div class="post-title-section">
                    <label class="is-size-4" for="post-title">Title:</label>
                    <input class="input" type="text" id="post-title" name="post-title" />
                </div>
                <div class="post-content">
                    <label class="is-size-4" for="post-content">Content:</label>
                    <textarea class="entry-field textarea" id="post-content" name="post-content"></textarea>
                </div>
                <div class="m-3 has-text-centered">
                    <button type="submit" class="button is-black">Create</button>
                </div>
            </form>
        </div>
    </section>
</article>

<script src="/js/newBlogPost.js"></script>