<div>
    <h2>Signup:</h2>
    <form class="signup-form" action="/login" method="POST">
        <div>
            <label for="email-login">Email:</label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" />
        </div>
        <div class="submit">
            <button>Signup</button>
            <a href="/login"><button type="button">Login Instead</button></a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>