<div>
    <h2>Signup:</h2>
    <form class="signup-form" method="POST">
        <div>
            <label for="username-signup">Username:</label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup">Email:</label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup">Password:</label>
            <input type="password" id="password-signup" />
        </div>
        <div class="submit">
            <button>Signup</button>
            <a href="/login"><button type="button">Login Instead</button></a>
        </div>
    </form>
</div>

<script src="/js/signup.js"></script>